<!-- <h1>{{title}}</h1>
<img [src]="imgSrc" alt="">
<button (click)="x()">btn</button>
<input type="text" [(ngModel)]="inpText">
<h1>{{inpText}}</h1> -->
<input [(ngModel)]="fname" type="text" placeholder="fname">
<input [(ngModel)]="lname" type="text" placeholder="lname">
<button (click)="save()">save</button>
<div class="main">
  <div class="card" *ngFor="let x of arr">
    <h1>{{x.firstname}}</h1>
    <h2>{{x.lastname}}</h2>
    <h3 *ngIf="x.firstname.length%2==0">even</h3>
    <h3 *ngIf="x.firstname.length%2!=0">odd</h3>
  </div>
</div>